body{
    font-family: 'Roboto Mono', monospace !important;
}
/*-- Header --*/
#header{
    background-color: #F5F5F5;
}
.navbar-brand{
    font-weight: 600;
    color: #111111;
}
.navbar-nav li a{
    color: #111111 !important;
}
.navbar-nav li a.active{
    color: #a88beb !important;;
    
}
.fa-bars{
    color: #111111;
}
.btn-login{
    background-color: #f8ceec;
    background-image: linear-gradient(315deg, #f8ceec 0%, #a88beb 74%);
    font-weight: 600;
    color: #fff;
    padding: 3px 15px;
}
.btn-login:hover{
    text-decoration: none;
    color:#fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/*--Loading --*/
#content {
    display: none;
}
#header {
    display: none;
}
#loading {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-color:#F5F5F5;
    background-image: url("../assets/img/loading.gif");
    background-repeat: no-repeat;
    background-position: center;
}

/*-- Slider --*/
.slider img{
    width: 100%;
    max-height: 350px;
    min-height: 350px;
}
/*--highlight news--*/
.highlight-news p{
    font-size: 14px;
    margin-bottom: -15px;
}
.highlight-news small{
    font-size: 12px;
    color: #bdbdbb;
    font-style: italic;
}